$primary: #004987;

@import "~bulma/bulma.sass";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

@import "./asv/slider";
@import "./asv/navbar";
@import "./asv/footer";
@import "./asv/container";

::-webkit-scrollbar {
  width: 0;
  display: none;
  opacity: 0;
}

html {
  scrollbar-width: none;
}

.page-content {
  display: block;
  margin-top: 4.5rem;
  width: 100vw;
  min-height: 100vh;
}
.main-space {
  margin-left: 32px;
  margin-right: 32px;
}

.full-w {
  width: 100vw !important;
}

#about-us {
  .content {
    background: rgba(255, 255, 255, 0.4);
    padding: 2rem;
    border-radius: 10px;

    h1 {
      font-size: 4rem;
      color: white;
      font-weight: 700;
    }

    p {
      color: #fff;
      font-size: 1.2rem;
    }
  }
}

.about-us.bg {
  position: absolute;
  top: 0;
  height: calc(100vh + 4rem);
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -4rem;
  background-size: cover;
  filter: blur(8px);
}

.content.is-landing-section {
  h1 {
    font-size: 3rem;
    color: $primary;

    @include tablet {
      font-size: 5rem;
    }

    @include desktop {
      font-size: 6rem;
    }
  }

  p.main-sub {
    font-size: 1rem;
    color: #444;

    @include tablet {
      font-size: 2rem;
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  div.column {
    &.centered {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  div.person {
    background: $primary;
    width: fit-content;
    // padding: 2rem;
    border-radius: 4px;
    text-align: center;
    color: #cacaca;

    .info-wrapper {
      padding: 1rem;
      h3 {
        color: #fff;
        margin-top: 0;
      }
    }

    .image-wrapper {
      img {
        border-radius: 4px;
      }
    }
  }
}

.asv-footer {
  .content {
    h1 {
      font-size: 2rem;
      font-weight: 400;
      color: $primary;
      margin-bottom: 20px;

      @include tablet {
        font-size: 3rem;
      }

      @include desktop {
        font-size: 4rem;
      }

      @include widescreen {
        font-size: 5rem;
      }
    }

    h2 {
      margin-top: 0;
      font-weight: 300;
      color: #fff;

      font-size: 1rem;

      @include tablet {
        font-size: 1.5rem;
      }

      @include desktop {
        font-size: 2rem;
      }

      @include widescreen {
        font-size: 3rem;
      }
    }
  }
  .info.column {
    display: flex;
    justify-content: center;

    &.is-contact > div {
      margin-right: 20px;
    }

    @include tablet {
      &.is-contact {
        margin-right: 0;
        flex-flow: column nowrap;
      }
    }
  }
}
.contact {
  color: #cacaca;
  div.info {
    font-size: 1.4rem;
    display: flex;
    svg {
      margin-right: 10px;
    }

    &.bigger {
      color: #444;
      font-size: 2rem;

      svg {
        margin-right: 30px;
      }
    }
  }

  .info span {
    font-size: 1rem;
    @include tablet {
      font-size: 1.5rem;
    }
  }
}

.card.is-project {
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;

  &:hover {
    transform: scale(0.9);
  }
  & > .card-content {
    text-align: center;

    h1 {
      font-size: 2rem;
    }
  }

  .project-image {
    margin-left: 0;
    margin-right: 0;
  }
}

.full-bg {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.blur-4 {
  filter: blur(4px);
}

.wdwd-item {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;

  & > img {
    width: 100%;
    height: 100%;
  }

  .bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 73, 135, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.35s cubic-bezier(0.76, 0, 0.24, 1);

    &:hover {
      background: rgba(0, 73, 135, 0.3);

      h3 {
        margin-top: 20px;
        color: $primary;
      }
    }

    h3 {
      color: #fff;
      transition: all 0.35s cubic-bezier(0.76, 0, 0.24, 1);
    }
  }
}
