@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-main {
  background: url(../assets/img/0.png) no-repeat fixed !important;
  background-size: cover !important;
}

body {
  scrollbar-width: none !important;
}
