@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif !important;
}

.slider {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.35);

  & > div.slide-img {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slider--content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;

    & > .slider--feature {
      text-align: left;
      margin-left: 30px;
      margin-bottom: 30px;

      h1 {
        // font-size: 4rem;
        font-size: 2rem;
        color: #fff;
        font-weight: 700;
      }

      @include tablet {
        & h1 {
          font-size: 4rem;
        }
      }

      @include desktop {
        & {
          margin-left: 100px;
          margin-bottom: 100px;

          h1 {
            font-size: 6rem;
          }
        }
      }
    }
  }
}
